[build]
  publish = "public"
  command = "hugo --gc --minify"

[build.environment]
  HUGO_VERSION = "0.96.0"

[context.deploy-preview]
  command = "hugo -b $DEPLOY_PRIME_URL --gc --minify"
  
[context.production.environment]
  HUGO_VERSION = "0.96.0"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"